@import "../../app.scss";

.n-hero {
  height: calc(100vh);
  
  

  .n-wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    

    }
  }

  



.n-hero{
  background-image: url("space.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}





// h1 {
//   font-size: 1000px;
// }

.n-hero-text{
  display: flex;
  align-items: start;
  // justify-content: center;
  flex-direction: column;
  height: 100%;
  margin-top: 120px;
 
  .n-yuri-title{
    font-size: 70px;
  }
  .n-yuri-logo{
    height: 150px;
    margin-left: 120px;
    
    // width:300px
  }
  .n-title-tag{
    font-size: 25px;
  }
}

.n-hero2{
  display: none;
}


@media only screen and (max-width: 600px) {
     
   
  .n-hero{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }

  .n-hero-text{
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-top: 100px;
    width:100%;
   
    .n-yuri-title{
      font-size: 40px;
    }
    .n-yuri-logo{
      height: 120px;
      margin-left: 0px;
      
      // width:300px
    }
    .n-title-tag{
      font-size: 15px;
    }
  }

  .n-hero {
    height: calc(100vh);
    
    
  
    .n-wrapper {
      // max-width: 1366px;
      height: 100%;
      margin: 0px;
      display: flex;
      flex-direction: column;
      
  
      }
    }
    .n-hero2{
      display: flex;
      height:400px
    }



}