@import "../../app.scss";

.n-container {
  display:flex;
  height: 100%;
 
}

.n-illus{
    height:100%;
    width:60%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 50px;
    
}

.n-im{
  height:300px;
  
}

.n-contact-card{
  width:40%;
  height:100%;
  display: flex;
  margin-top: 8%;
  align-items: start;
  flex-direction: column;
  margin-left: 90px;
}

h2 {
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
}

p{
  font-size: 20px;
}

.n-copyright {
  width:100%;
  height:100%;
  max-height: 50px;
  background: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.n-main{
  height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  
}

.n-copy{
  color: darkblue;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0px;

}


h3{
  margin-top: 30px;
}

.n-brand{
  display: flex;
  flex-direction: row;
}

.n-brand-title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  
}

.n-name{
  font-size: 50px;
  font-weight: 500;
}
.n-social {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  img {
    width: 25px;
    height: 25px;
  }
}


@media only screen and (max-width: 600px) {
  .n-copyright {
    width:100%;
    height:100px;
    background: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .n-container {
    display:flex;
    flex-direction: column;
    height: 95%;
    
  }
  .n-illus{
    height:50vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
   
    
}

.n-im{
  height:250px;
  
}
.n-main{
  height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  
}
.n-name{
  font-size: 45px;
  font-weight: 500;
  margin-top: 2px;
}
h2 {
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 30px;
}

p{
  font-size: 15px;
}

h3{
  margin-top: 10px;
  font-size: 15px;
}

.n-brand{
  display: flex;
  flex-direction: row;
  height: 200px;
}

.n-brand-title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  
}
h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.n-yuri-logo{
  height: 100px;
}
.n-contact-card{
  width:100vw;
  height:50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 0px;
  
}
.n-social {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 20px;
  margin-top: 20px;

  img {
    width: 25px;
    height: 25px;
  }
}
}