@import "../../app.scss";

.n-navbar {
  height: 100px;
  background-color: rgb(12,9,26); 
  opacity: 20%;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 10;

  .n-wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:15%;
    height: 100%;
    position: sticky;
    top:0;

   

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-weight: bold;

      @include mobile {
        display: none;
      }
    }

    // .social {
    //   display: flex;
    //   justify-content: end;
    //   align-items: end;
    //   gap: 20px;
      

    //   img {
    //     width: 18px;
    //     height: 18px;
    //   }
    // }
  }
}


.n-nav-items {
  display: flex;
  flex-direction: row;
  gap:40px;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 600;
  height: 100%;
  
}


.n-active{
   color: skyblue;
}

.n-sidebar{
  display: none;
}

@media only screen and (max-width: 600px) {
  .n-social {
    display: none;
    
   
    

    img {
      width: 0px;
      height: 0px;
    }
  }

  .n-nav-items {
    display: none;
    flex-direction: row;
    gap:40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 600;
    height: 100%;
    
  }
  .n-wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:15%;
    height: 100%;
    position: sticky;
    top:0;}

    .n-sidebar{
      display: flex;
    }
}