html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  min-height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}

#team{
  min-height: 180vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}

#guest{
  
  margin-bottom: 100px;
}



@media only screen and (max-width: 600px) {

  #guest{
    min-height: 200vh;
    margin-bottom: 500px;
  }

}
@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
